<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container" >
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/Accueil" routerLinkActive="text-dark">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/CV" routerLinkActive="text-dark">Mes Projets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="Contact" routerLinkActive="text-dark">Contact</a>
            </li>
        </ul>

    </div>
</nav>
